.navbar-light.bg-light {
  background-color: #222831 !important;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  --bs-navbar-padding-x: 2rem;
}

.navbar-collapse {
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
  margin-right: auto;
}

.btn-primary {
  margin-left: auto; 
}

@media only screen and (max-width: 768px) {
  img.logo {
    width: 250px;
  }
}

.navbar-nav .nav-item {
  margin-right: 15px;
}
