.main-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  min-height: 100vh; 
  padding: 20px;
}

.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}

.company-section, .employee-section {
  max-width: 1200px;
  margin: auto;
}

.header {
  width: 100%;
  background-color: #1f2021;
}

.special-footer .footer {
  position: fixed !important;
  bottom: 0 !important;
}
