
<div class="company-container">
  <form [formGroup]="companyForm" (ngSubmit)="addOrUpdateCompany()" class="company-form">
    <div class="input-group">
      <span class="input-group-text">Company name</span>
      <input formControlName="name" type="text" aria-label="Company name" class="form-control">
      <button type="submit">{{ editCompany ? 'AddCompany' : 'Add Company' }}</button>
    </div>
  </form>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4" *ngFor="let company of companies">
      <div class="card h-100" (click)="selectCompany(company.id!)">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ company.name }}</h5>
          <div class="mt-auto d-flex justify-content-end">
            <button class="btn btn-sm btn-danger mr-2" (click)="editCompanyDetails(company); $event.stopPropagation()">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button class="btn btn-sm btn-danger" (click)="deleteCompany(company.id!); $event.stopPropagation()">
              <i class="bi bi-trash-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  