/* You can add global styles to this file, and also import other style files */
body {
  color: #3d2f34 !important;
  background-color: rgba(246, 244, 244, 0.781) !important;
}

.btn {
  color: #3d2f34 !important;
}

 

