/* You can add global styles to this file, and also import other style files */
body {
  color: #3d2f34 !important;
  background-color: #31363F !important;
}

.btn {
  color: #EEEEEE !important;
}

.nav-link {
  color: #EEEEEE !important;
}

.navbar-brand {
  color: #EEEEEE !important;
  margin-left: 1%;
}
 

